# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
# /.vscode
/.vscode/chrome
/coverage
/dist
node_modules
/platforms
/plugins
/www

# firebase
.firebase/
/emulators.backup*
/firebase-export-*/
*-firebase-adminsdk-*.json
service*.json
/prod-*.json
firestore-debug.log

*.keystore
*.pem
*.jks

# angular
.angular

# build
build/ios/archive
build/ios/ipa
private_keys/
*.keystore
*.pem
*.jks
