<header class="text-center mb-4">
  <h1 class="text-secondary">Wise Guy Investor</h1>
</header>

<div class="card mb-4">
  <div class="card-body p-5 text-center">
    <h4>What it's all about?</h4>

    <p>
      In the Uber-complex world of Investing and Stocks, Shares and volatile markets, Wise Guy Investor simplifies the
      driving nature of finances.
    </p>

    <p>
      Entrepreneur and Investment guru, Warren shares his insights and breaks down the crazy world of investing by
      allowing people to understand what they can do with their money and where to put it.
    </p>
  </div>
</div>

<div class="card">
  <div class="card-body p-5 text-center">
    <h4 class="card-title">See more videos</h4>
    <p>Look us up on Patreon and subscribe</p>
    <p class="card-text">
      <a href="https://www.patreon.com/wiseguyinvestor" class="d-block mb-3">
        <img src="../../assets/patreon_navy.jpg" alt="Wise Guy Investor!" style="width: 150px;">
      </a>

      <a href="https://www.patreon.com/bePatron?u=15367607" data-patreon-widget-type="become-patron-button">
        <img src="../../assets/become_a_patron_button@2x.png" alt="Become a Patron!" style="transform: scale(0.5)">
      </a>
    </p>
    <script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
  </div>
</div>
