<header class="text-center mb-4">
  <h1 class="text-secondary">Wise Guy Investor</h1>
  <h4>What it's all about?</h4>
</header>

<div class="rounded border bg-white p-4">
  <p>
    In the Uber-complex world of Investing and Stocks, Shares and volatile markets, Wise Guy Investor simplifies the
    driving nature of finances.
  </p>

  <p>
    Entrepreneur and Investment guru, Warren shares his insights and breaks down the crazy world of investing by
    allowing people to understand what they can do with their money and where to put it.
  </p>
</div>
