<mat-toolbar>
  <mat-toolbar-row>
    <ng-container *ngIf="page.state$ | async as s">
      <span *ngIf="!working && (photos()?.length ?? 0) > 0">
        <button mat-icon-button *ngIf="s.view == 'list'" (click)="page.dispatch({ view: 'grid' })">
          <mat-icon>grid_on</mat-icon>
        </button>
        <button mat-icon-button *ngIf="s.view == 'grid'" (click)="page.dispatch({ view: 'list' })">
          <mat-icon>view_list</mat-icon>
        </button>
      </span>
    </ng-container>

    <button mat-icon-button (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-form-field appearance="fill">
  <mat-label>Search photos from Unsplash</mat-label>
  <input
    matInput
    #searchBox
    [(ngModel)]="term"
    (input)="searchPhotos(term())"
    Dplaceholder="Search photos from Unsplash"
  />
</mat-form-field>

<app-empty-list *ngIf="!working && term" [list]="photos()" msg="Couldn't find anything"></app-empty-list>

<ng-container *ngIf="page.state$ | async as state">
  <div *ngIf="state.view == 'grid'" class="photo-grid">
    <mat-grid-list cols="3" rowHeight="1:1">
      <mat-grid-tile *ngFor="let p of photos()" (click)="selectPhoto(p)">
        <div [style.backgroundImage]="'url(' + p.urls.small + ')'" class="img-bg-square"></div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <ng-container *ngIf="state.view == 'list'">
    <mat-card *ngFor="let p of photos()" (click)="selectPhoto(p)">
      <mat-card-header>
        <mat-card-title>{{ p.user.name }}</mat-card-title>
        <mat-card-subtitle>{{ p.user.location }}</mat-card-subtitle>
        <mat-card-content>
          <p>{{ p.updated_at | date : 'mediumDate' }} {{ p.updated_at | date : 'shortTime' }}</p>
        </mat-card-content>
      </mat-card-header>
    </mat-card>
  </ng-container>
</ng-container>
