.img-background {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-color: rgba(0,0,0,0.03);
}

.img-xs {
  height: 30px;
  width: 30px;
}

.img-sm {
  height: 50px;
  width: 50px;
}

.img-m {
  height: 100px;
  width: 100px;
}

.img-lg {
  height: 150px;
  width: 150px;
}
