<nav class="navbar navbar-expand-md sticky-top navbar-light bg-white justify-content-between">
  <div class="container">
    <a routerLink="/" class="navbar-brand text-muted">
      Wise Guy Investor
    </a>

    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngClass]="{'show' : !isCollapsed}">
      <ul class="navbar-nav mr-auto"></ul>

      <!-- AUTH -->
      <ul *ngIf="user" class="navbar-nav ml-auto">

        <li class="nav-item">
          <a routerLink="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/blog" class="nav-link">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/accounts/edit" style="padding-top: 7px">
            <img *ngIf="user" [src]="user?.photoURL" alt="" class="img-xs rounded-circle">
            <span class="d-inline d-md-none">{{user?.displayName}}</span>
          </a>
        </li>
      </ul>

      <!-- ANONYMOUS -->
      <ul *ngIf="!user" class="navbar-nav ml-auto no-select">
        <li class="nav-item">
          <a routerLink="/blog" class="nav-link">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="loginGoogle()">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<main class="container">

  <router-outlet></router-outlet>

</main>

<footer class="my-md-5 border-top container">
  <div class="row py-5">
    <div class="col-12 col-md">
      <h3>WiseGuy Investor</h3>
      <small class="d-block mb-3 text-muted">©2018</small>
    </div>
    <div class="col-6 col-md">
      <h5>Features</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Cool stuff</a></li>
        <li><a class="text-muted" href="#">Random feature</a></li>
        <li><a class="text-muted" href="#">Team feature</a></li>
        <li><a class="text-muted" href="#">Stuff for developers</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" [routerLink]="['/pricing']" routerLinkActive="router-link-active">Pricing</a></li>
        <li><a class="text-muted" href="#">Team</a></li>
        <li><a class="text-muted" href="#">Privacy</a></li>
      </ul>
    </div>
  </div>
</footer>

<div class="fb-customerchat" page_id="317671382361672"></div>


<!-- <img class="mb-2" src="../../assets/brand/bootstrap-solid.svg" alt="" width="24" height="24"> -->

<!-- Begin Mailchimp Signup Form -->
<!-- <div id="mc_embed_signup" class="text-center py-5 my-5 bg-white rounded">
    <h2>Subscribe to our mailing list</h2>

    <form action="https://skaoss.us14.list-manage.com/subscribe/post?u=f87d6e1ec58cd04830f6a367b&amp;id=e58a2a6af0"
      class="validate form-inline justify-content-center" method="post" id="mc-embedded-subscribe-form"
      name="mc-embedded-subscribe-form" target="_blank" novalidate>

      <input type="email" [(ngModel)]="subscriber.email" placeholder="Your email" name="EMAIL"
        class="required email form-control mb-2 mr-sm-2" id="mce-EMAIL">

      <input placeholder="Your name" name="FNAME" class="form-control mb-2 mr-sm-2" id="mce-FNAME">

      <input placeholder="Your surname" name="LNAME" class="form-control mb-2 mr-sm-2" id="mce-LNAME">

      <button type="submit" name="subscribe" id="mc-embedded-subscribe"
        class="button btn btn-secondary text-light mb-2">Subscribe</button>

      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>

      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_f87d6e1ec58cd04830f6a367b_e58a2a6af0" tabindex="-1" value="">
      </div>
    </form>
  </div> -->
<!--End mc_embed_signup-->
