//:host ::ng-deep
:host ::ng-deep .fr-video {
  display: block;
  position: relative;
  padding-bottom: 56.25% !important;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

:host ::ng-deep .fr-video iframe,
.fr-video object,
.fr-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
