<div class="row justify-content-center">
  <div class="col-lg-8">

    <div class="card p-3" *ngIf="!post">
      <facebook-content-loader></facebook-content-loader>
    </div>

    <div class="card" *ngIf="post">
      <div class="img-background rounded img-lg card-img-top" [hidden]="!post.photoURL"
        [style.backgroundImage]="_util.getSanitizedStyle(post.photoURL)">
      </div>

      <div class="card-body">
        <h1 class="card-title font-italic">{{post.title}}</h1>

        <div class="my-3" [innerHTML]="_util.getSanitizedHtml(post.text)"></div>
      </div>
    </div>

  </div>
</div>

<div class="text-center my-4">
  <a [routerLink]="['/blog']" class="btn btn-light mr-4">Return to Blog</a>
  <a [routerLink]="['/blog']" class="btn btn-light">Home</a>
</div>
