<header class="mb-4">
  <div class="text-center">
    <h2>Welcome to our blog</h2>
    <ng-container *ngIf="auth.currentUser$ | async as user">
      <div *ngIf="user.roles.admin">
        <a [routerLink]="['/blog/posts']" class="btn btn-light btn-sm">Manage</a>
      </div>
    </ng-container>
  </div>
</header>

<div class="bg-gray-900 text-white rounded-xl p-6 md:p-10 mb-6 shadow-lg" *ngIf="featuredPost">
  <div class="max-w-2xl">
    <h1 class="text-3xl md:text-4xl font-semibold italic mb-2">{{ featuredPost.title }}</h1>
    <p class="text-lg md:text-xl mb-4"><span [innerHTML]="featuredPost.text | slice : 0 : 100"></span></p>
    <p>
      <a
        [routerLink]="['/blog/posts', featuredPost.id]"
        class="text-white font-bold underline hover:text-blue-300 transition"
        >Continue reading..</a
      >
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-6" *ngIf="!(posts$ | async)">
    <div class="card p-3 mb-4 shadow-sm">
      <app-skeleton-text view="fb"></app-skeleton-text>
    </div>
  </div>
  <div class="col-md-6" *ngFor="let post of posts$ | async | slice : 0 : 6">
    <app-post [post]="post"></app-post>
  </div>
</div>
