<header
  class="bg-cover bg-center bg-[url('/assets/images/shrine.jpg')] h-64 rounded-2xl flex flex-col items-center justify-center text-white"
>
  <div class="p-8">
    <h1 class="text-white text-4xl font-bold text-center">Welcome to Wiseguy Investor</h1>
    <p class="lead text-white text-center">{{ 'Financial Learning Simplified' | uppercase }}</p>
  </div>
</header>

<section class="container">
  <div class="row">
    <div class="col-md-6" *ngIf="!(posts$ | async)">
      <div class="card p-3 shadow-sm">
        <app-skeleton-text view="fb"></app-skeleton-text>
      </div>
    </div>

    <div class="col-md-6" *ngFor="let post of posts$ | async | slice : 0 : 2">
      <app-post [post]="post"></app-post>
    </div>
  </div>

  <div class="text-center mt-4">
    <a class="btn btn-secondary text-light" routerLink="/blog">See more episodes</a>
  </div>
</section>
