<div class="home1-img mt-3 p-3 p-md-5 mb-md-3 text-center position-relative overflow-hidden">

  <div class="col-md-8 p-lg-5 mx-auto my-3">
    <h1 class="display-4 font-weight-normal">Wise Guy Investor</h1>
    <p class="lead font-weight-normal">Look sharp make strides</p>
    <a class="btn btn-outline-dark" href="#">Coming soon</a>
  </div>

  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>

</div>
