<div
  class="row mb-5 text-center align-items-center justify-content-center landing-img img-background position-relative overflow-hidden">

  <div class="col-md-8">
    <h1 class="display-3 mb-0 text-secondary">Wise Guy Investor</h1>
    <h2 class="display-5 mb-4 text-muted">Financial Learning Simplified</h2>
    <a class="btn btn-secondary text-light" href="#">Coming soon</a>
  </div>

</div>


<div class="row">
  <div class="col-md-6" *ngIf="!(posts | async)">
    <div class="card p-3 shadow-sm">
      <facebook-content-loader></facebook-content-loader>
    </div>
  </div>
  <div class="col-md-6" *ngFor="let post of posts | async | slice: 0 : 2">
    <app-post [post]="post"></app-post>
  </div>
</div>
